<main>
  <app-header></app-header>
  <section class="container employees">
    <h2>Employees</h2>
    <div class="employees__container">
      <app-employee
        *ngFor="let employee of employees; trackBy: trackByIds"
        (employeeId)="onGetSelectedEmployeeID($event)"
        [employee]="employee"
      ></app-employee>
    </div>
  </section>
  <section>
    <app-tickets
      *ngIf="selectedEmployee"
      [selectedEmployee]="selectedEmployee"
    />
    <p *ngIf="!selectedEmployee" class="feedback">
      Please Select any employee to see tickets
    </p>
  </section>
</main>
